@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: dark;
}

html.dark {
  color-scheme: dark;
}

html:not(.dark) {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

